<footer>
    © 2022 Copyright: C-Guide

    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
            <i></i> Made by Sanskar Maliwad
        </p>
        <p>
            <i class="fas fa-envelope mr-3"></i> maliwadsanskar@gmail.com
        </p>
        <p>
            <i class="fas fa-phone mr-3"></i> + 91 9340 191912
        </p>
    </div>

</footer>

</body>

</html>